
.section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--aa-color-white);
    padding: 1rem;
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
}

.section-header-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: var(--aa-border-radius);
    box-shadow: var(--aa-box-shadow);
    backdrop-filter: blur(10px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .section-header-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.section-header-content {
    display: flex;
    align-items: center;
    gap: 16px;
}

.section-icon-header {
    padding: 12px;
    background-color: rgba(59, 130, 246, 0.1);
    border: var(--aa-border-solid);
    border-radius: var(--aa-border-radius);
    color: var(--aa-color-blue);
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    border-radius: var(--aa-border-radius);
    box-shadow: var(--aa-box-shadow);
    backdrop-filter: blur(10px);
}

.search-bar input {
    background-color: transparent;
    border: 0;
    outline: none;
    color: var(--aa-color-white);
    font-size: var(--aa-font-size-sm);
    width: 100%;
    ::placeholder {
        color: var(--aa-color-muted);
    }
}

.search-bar button {
    font-size: var(--aa-font-size);
    color: var(--aa-color-tertiary);
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    background-color: var(--aa-color-body);
    border: var(--aa-border-solid);
    border-radius: var(--aa-border-radius);
    border-color: var(--aa-border);
    transition: color 0.2s;
}
.search-bar button:hover {
    color: var(--aa-color-white);
}

.card {
    border: var(--aa-border-solid);
    border-radius: var(--aa-border-radius);
    border-color: var(--aa-border);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    transition: all 0.2s;
    box-shadow: var(--aa-box-shadow);
    backdrop-filter: blur(10px);
}

.card:hover {
    box-shadow: var(--aa-box-shadow-hover);
    border-color: var(--aa-color-blue);
}

.card-content {
    display: flex;
    align-items: center;
    gap: 3.5rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-content h3 {
    font-size: var(--aa-font-size-sm);
    color: var(--aa-color-white);
    transition: color 0.2s;
    margin: 0;
}

.card-content span {
    font-size: var(--aa-font-size-xs);
    color: var(--aa-color-muted);
    font-family: ui-monospace, Menlo, Consolas, monospace;
}

.card-content img {
    width: 3rem;
    height: 3rem;
    border-radius: var(--aa-border-radius);
    border-color: var(--aa-border);
    background-color: var(--aa-color-body);
    border: var(--aa-border-solid);
    object-fit: cover;
    flex-shrink: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.content-loading {
    border: var(--aa-border-solid);
    border-radius: var(--aa-border-radius);
    border-color: var(--aa-border);
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    backdrop-filter: blur(10px);
}

.content-error {
    border: var(--aa-border-solid);
    border-radius: var(--aa-border-radius);
    border-color: var(--aa-border);
    padding: 2rem; /* p-8 */
    text-align: center;
    color: var(--aa-color-rose);
}

.content-empty {
    border: var(--aa-border-solid);
    border-radius: var(--aa-border-radius);
    border-color: var(--aa-border);
    padding: 3rem;
    text-align: center;
    color: var(--aa-color-tertiary);
}

.content a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--aa-color-light);
    color: #d4d4d8;
    border-radius: var(--aa-border-radius);
    font-size: var(--aa-font-size-xs);
    font-weight: var(--aa-font-weight-semibold);
    transition: all 0.2s;
    margin-top: auto;
    text-decoration: none;
}

.content a:hover {
    color: var(--aa-color-white);
    text-decoration: underline;
}